// Place all the styles related to the Tunes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
td.tune {
    font-size: 22.4px;
    font-size: 1.4rem;
    padding: 18px 60px;
}
